

.navigation {
  background-color: rgb(0, 174, 255); 
  list-style-type: none;
  flex: auto;
  text-align: right;
  margin: auto;
  font-size: 30px;
  padding: 20px;
  display: inline-block;
}

.menu {
  align-self: flex-end;
  font-weight: bold;
}
.name {
  font-size: 2rem;
  font-weight: bold;
}








